* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

button {
    font-family: inherit;
}

address {
    font-style: normal;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.header nav {
    margin-right: auto;
}

